<!DOCTYPE html>
<html>

<head>

  <meta charset="UTF-8">

  <title>首页</title>

  <link rel="stylesheet" href="/stylesheets/loginAndRegister.css" media="screen" type="text/css" />

</head>

<body>

<span class="button" id="toggle-login" >Register</span>
<div id="login" >
  <div id="triangle"></div>
  <h1>Register</h1>
  <form id="form">
    <input id="user" type="text" placeholder="User" />
    <input id="passwd" type="password" placeholder="Password" />
    <button type="submit" class="btn btn-primary btn-block"  id="RsubmitButton" >Register</button>
  </form>
</div>

<div>
  <button id="cutPage">截图</button>
</div>



<script src='/javascripts/jquery.js'></script>
<script src='/javascripts/loginAndRegister.js'></script>
</body>

</html>